.chat-main
  .chat-main__group-info
    .chat-main__group-info__group-detail
      .chat-main__group-info__group-detail__head
        .chat-main__group-info__group-detail__head__title
          = @group.name
        .chat-main__group-info__group-detail__head__member
          Member:
          - @group.users.each do |user|
            = user.name
      - @group
      -# %input.edit-btn{value: "Edit", type: "button",onclick: "location.href='http://localhost:3000/groups//edit'" }
      = link_to 'Edit',edit_group_path(@group) ,class:"editbtn"
  .chat-main__message-list
    = render @messages
  -# .chat-main__message-info
  -#   .chat-main__message-info__from
  -#     %input.message-box{placeholder: "type a message",type:"text"}
  -#     %label.label
  -#       %input.select-img{type:"file",id:"selected-img",accept:"image/*"} 
  -#       = icon('fas', 'image')
  -#     %input.send-btn{type: "submit",value: "send",}

  .chat-main__message-info
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'