.chat-main__message-list__head{data: {id: "#{message.id}"}}
  .chat-main__message-list__head__user-name
    = message.user.name
  .chat-main__message-list__head__post-time
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.chat-main__message-list__posted-message
  - if message.content.present?
    = message.content
= image_tag message.image.url, class: 'posted-message__image' if message.image.present?

  